<nav>
    <ul>
        <li><a n:href=":Front:Homepage:">Homepage</a></li>
        <li><a n:href=":Front:Contact:">Kontakt</a></li>
        <li><a n:href=":Front:Gallery:">Galery</a></li>
        <li><a n:href=":Admin:Dashboard:default">Dashboard</a></li>
        <li><a n:href=":Admin:Images:default">Images</a></li>
        <li><a n:href=":Eshop:Homepage:default">Eshop</a></li>
    </ul>
</nav>

{block content}
eshop home
{/block}